.dub/
dub.selections.json
*.o
*.obj
*.lst
*.a
view-component-tests
view-component-tests-diet
view_component_d-test-unittest-diet
view_component_d
example/view-component-example
example/.dub/
example/dub.selections.json

C_PLANS/
C_ADVANCE/
C_DOCS/
C_HTML/
C_TEMP/
C_RESEARCH/
C_TODO/
